{% extends "base.html.twig" %}

{% block title %}youhouu!!!{% endblock %}

{% block body %}

<h1>Dépensez sans compter</h1>


 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, excepturi quo. Cupiditate at debitis quisquam magnam enim, dolorem quasi hic, culpa odio consequuntur tempora vel repudiandae sit temporibus adipisci iusto.
 
 
 
 {% endblock %}