{% extends "base.html.twig" %}


{% block title %}
<table class="table">
<tr>
<td>{{ contact.firstname }}</td>
</tr>

<tr>
<td> {{ contact.lastname }} </td>
</tr>

<tr>
<td> {{ contact.message }} </td>
</tr>
</table>
{% endblock %}